.registerScreen {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.registerScreen .floatingCard {
  padding: max(26px, 4vh);
  background-color: #ffffff;
  border-radius: 10px;
} /* */
.registerScreen .floatingCard #taskInput {
  display: flex;
  flex-direction: column;
  gap: 6px;
} /* */
#taskInput label {
  padding-left: 12px;
  font-size: 1.6rem;
  font-weight: 400;
}
#taskInput input,
#taskInput textarea {
  border: 1px solid var(--gray);
  border-radius: 2px;
  color: var(--gray);
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  padding: 6px;
} /* */
#taskInput fieldset {
  display: flex;
  align-items: center;
  height: 50px;
  border: 1px solid var(--gray);
  border-radius: 2px;
  padding: 6px;
}
#taskInput fieldset legend {
  font-size: 1.6rem;
  padding: 0px 4px;
  font-weight: 400;
}
#taskInput fieldset label {
  height: 14px;
  padding-left: 0px;
} /* estilizando check box do radio */
#taskInput fieldset input {
  appearance: none;
  outline: none;
  border: 1px solid var(--black);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#taskInput fieldset input::before {
  position: absolute;
  content: "";
  border-radius: 2px;
  height: 50%;
  width: 50%;
  background-color: var(--black);
  opacity: 0;
  transition: all 300ms ease-in-out;
}
#taskInput fieldset input:checked:before {
  opacity: 1;
}
#taskInput fieldset #normal:before {
  background-color: var(--green);
}
#taskInput fieldset #normal:focus {
  box-shadow: 0 0 3px var(--green);;
}
#taskInput fieldset #important:before {
  background-color: var(--blue);
}
#taskInput fieldset #important:focus {
  box-shadow: 0 0 3px var(--blue);
}
#taskInput fieldset #urgent:before {
  background-color: var(--red);
}
#taskInput fieldset #urgent:focus {
  box-shadow: 0 0 3px var(--red);
}
